.wrapper{
    max-width: 1952px;
}
.header{
    position: relative;
}
.logo{
    margin-left: 43px;
    position: absolute;
    margin-top: 58px;
    display: inline-block;
}
.logo_descript{
    margin-left: 95px;
    margin-top: 95px;
    display: inline-block;
}
.logo_descript h1{
    font-family: 'Calibri';
    font-weight: bold;
    color: #68a707;
    font-size: 58px;
}
.logo_descript_number{
    display: inline;
}