.wrapper{
    max-width: 1952px;
    background-image: url(../img/background_img.png);
    background-repeat: no-repeat;
}
.header{
    position: relative;
}
.header__logo{
    margin-left: 43px;
    position: relative;
    margin-top: 56px;
    display: inline-block;
}
.header__descript{
    display: inline-block;
    position: relative;
    left: 87px;
    top: 34px;
}
.header__descript h1{
    font-family: 'Calibri';
    font-weight: bold;
    color: #68a707;
    font-size: 58px;
}
.header__number{
    font-family: 'Calibri';
    font-weight: bold;
    color: #68a707;
    font-size: 37px;
    position: relative;
    top: -16px;
    right: 8px;
    display: inline-block;
}
.heading{
    position: relative;
}
.heading__logo{
    position: relative;
    left: 429px;
    display: inline-block;
    top: -21px;
}
.heading__tittle{
    position: relative;
    display: inline-block;
    left: 495px;
    top: -15px;
}
.heading__tittle::before{
    content: "";
    border: 2px solid #333333;
    height: 73px;
    display: inline-block;
    position: relative;
    top: 156px;
    left: -41px;
    border-radius: 10px;
}
.heading__name{
    font-family: 'Calibri';
    font-weight: bold;
    color: #076a07;
    font-size: 60px;
}
/* ========================Container=================== */
.container_int{
    position: relative;
    display: flex;
}
.liver{
    position: relative;
    display: inline-block;
}
.back_liver{
    position: relative;
    left: 70px;
    display: inline-block;
}
.back_shadow{
    border: 0 solid green;
    border-radius: 50%;
    box-shadow: 0 0 0px 13px #dcebc6;
    width: 386px;
    height: 383px;
    position: relative;
    display: inline-block;
    top: -393px;
}
.back_shadow::before{
    content: "";
    border: 0 solid green;
    border-radius: 50%;
    box-shadow: inset 0 0 0 8px #dcebc6;
    width: 386px;
    height: 383px;
    position: relative;
    display: inline-block;
}
.back_line{
    top: -812px;
    position: relative;
    left: -30px;
}
.back_line img{
    display: inline-block;
}