.wrapper{
    max-width: 1952px;
    background-image: url(../img/background_img.png);
    background-repeat: no-repeat;
}
.header{
    position: relative;
}
.logo{
    margin-left: 43px;
    position: relative;
    margin-top: 56px;
    display: inline-block;
}
.logo_descript{
    display: inline-block;
    position: relative;
    left: 87px;
    top: 34px;
}
.logo_descript h1{
    font-family: 'Calibri';
    font-weight: bold;
    color: #68a707;
    font-size: 58px;
}
.logo_descript_number{
    font-family: 'Calibri';
    font-weight: bold;
    color: #68a707;
    font-size: 37px;
    position: relative;
    top: -105px;
    left: 917px;
    display: inline-block;
}
.heading{
    position: relative;
}
.logo_ademet{
    position: relative;
    left: 429px;
    display: inline-block;
    top: -21px;
}
.name_ademet{
    position: relative;
    display: inline-block;
    left: 495px;
    top: -15px;
}
.name_ademet::before{
    content: "";
    border: 2px solid #333333;
    height: 73px;
    display: inline-block;
    position: relative;
    top: 156px;
    left: -41px;
    border-radius: 10px;
}
.name_ademet_{
    font-family: 'Calibri';
    font-weight: bold;
    color: #076a07;
    font-size: 60px;
}
/* ========================Container=================== */
.container_int{
    position: relative;
    display: flex;
}
.liver{
    position: relative;
    display: inline-block;
}
.back_liver{
    position: relative;
    left: 70px;
    display: inline-block;
}
.back_shadow{
    border: 2px solid green;
    border-radius: 50%;
    width: 425px;
    height: 425px;
    position: relative;
    display: inline-block;
}
.back_line{
    border: 2px solid red;
    border-radius: 50%;
    width: 425px;
    height: 425px;
    position: relative;
    display: inline-block;
    left: 0;
    
}